@import '../../styles/helper';

.home {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	@include tablet {
		flex-direction: column-reverse;
		row-gap: 30px;
	}

	@include mobile {
		margin-top: 100px;
	}
}

.intro {
	flex: 1;
	padding: 15px;

	@include tablet {
		width: 100%;
		text-align: center;
	}

	@include mobile {
		padding: 0;
	}
}

.intro__welcome {
	position: relative;
	font-size: 18px;
	font-family: var(--font-mont);
	font-weight: 600;
	letter-spacing: 5px;
	line-height: 40px;
	padding: 5px 0;
	display: inline-block;

	@include dark {
		color: var(--text-dark-2);
	}

	@include mobile {
		font-size: 16px;
		padding: 0;
	}

	&::before {
		content: '';
		position: absolute;
		width: 25%;
		height: 3px;
		top: 0;
		left: 0;
		background: var(--color-main);
		animation: line-before 3s infinite linear;
	}

	&::after {
		content: '';
		position: absolute;
		width: 25%;
		height: 3px;
		bottom: 0;
		right: 0;
		background: var(--color-main);
		animation: line-after 3s infinite linear;
	}
}

.intro__title {
	font-family: var(--font-teko);
	font-weight: 700;
	font-size: 60px;
	line-height: 80px;
	margin: 40px 0 20px 0;

	@include tablet {
		text-align: justify;
	}

	@include mobile {
		font-size: 34px;
		line-height: 50px;
	}
}

.intro__title-hi,
.intro__title-name {
	font-size: 90px;
	display: inline-block;

	@include desktop {
		font-size: 85px;
	}

	@include mobile {
		font-size: 60px;
	}
}

.intro__title-name {
	color: var(--color-main);
}

.intro__desc {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;

	@include tablet {
		text-align: justify;
	}
}

@keyframes line-before {
	0% {
		left: 0;
		width: 0;
	}
	25% {
		left: 0;
		width: 35%;
	}
	50% {
		width: 35%;
	}
	75% {
		width: 35%;
	}
	100% {
		width: 0%;
		left: 100%;
	}
}

@keyframes line-after {
	0% {
		right: 0;
		width: 0;
	}
	25% {
		right: 0;
		width: 35%;
	}
	50% {
		width: 35%;
	}
	75% {
		width: 35%;
	}
	100% {
		width: 0%;
		right: 100%;
	}
}

.intro__btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;
	margin-top: 20px;

	@include mobile {
		flex-direction: column;
	}
}

.btn-home {
	font-family: var(--font-poppins);
	box-shadow: var(--shadow-light);
	background: var(--bg-light);
	padding: 15px 30px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--text-light);
	transition: all 0.3s;

	svg {
		font-size: 18px;
		color: var(--color-main);
	}

	@include dark {
		box-shadow: var(--shadow-dark);
		background: var(--bg-dark-linear);
		color: var(--text-dark);
	}

	&:hover {
		transform: scale(1.1);
	}

	&:active {
		transform: scale(0.8);
	}

	@include mobile {
		width: 100%;
		justify-content: center;
		padding: 20px;
	}
}

.home__img {
	background: url('../../assets/image/avt-gavin.png') no-repeat;
	background-size: contain;
	width: 320px;
	height: 320px;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	animation: profile__animate 5s ease-in-out infinite 1s;
	overflow: hidden;
	box-shadow: var(--shadow-light), inset 0 0 0 9px rgba(141, 141, 141, 0.3);

	@include dark {
		box-shadow: var(--shadow-dark), inset 0 0 0 9px rgba(112, 112, 112, 0.3);
	}
}

@keyframes profile__animate {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}
	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
}

.scroll-down{
	position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
	transition: all .5s;

	.wrapper{
		display: flex;
		align-items: center;
		gap: 10px;
	
		span{
			font-family: var(--font-poppins);
			font-size: 14px;
			font-weight: 500;
		}
	}

	@include mobile{
		display: none;
	}
}

.mouse{
	position: relative;
	display: inline-block;
    width: 30px;
    height: 48px;
    border: 3px solid var(--text-light);
    border-radius: 30px;

	&::before{
		position: absolute;
		content: '';
		top: 3px;
		left: 50%;
		transform: translateX(-50%);
		width: 3px;
		height: 12px;
		border-radius: 30px;
		background: var(--text-light);
		animation: scroll__btn 1s infinite;
	}

	@include dark{
		border-color: var(--text-dark);
		&::before{
			background: var(--text-dark);
		}
	}

	@keyframes  scroll__btn{
		0%{
			top: 3px;
		}
		50%{
			top: 10px;
		}
		100%{
			top: 3px;
		}
		
	}
}