@import '../../styles/helper';

.wrap-head {
	transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.sticky-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	background: var(--bg-light-3);
	box-shadow: var(--shadow-light-10);
	transition: all 0.3s;
	animation: scroll-sticky 0.5s forwards;

	@include dark {
		background: var(--bg-dark-2);
		box-shadow: var(--shadow-dark);
	}

	@include mobile{
		background: none;
		box-shadow: none;

		@include dark{
			background: none;
			box-shadow: none;
		}
	}

	.nav-menu__item{
		height: 80px;
	}

	.wrap-item{
		&::before{
			bottom: 10px;
		}
	}

	.nav-active{
		.wrap-item{
			&::before{
				bottom: 10px;
			}
		}
	}
}

@keyframes scroll-sticky {
	0% {
		top: 15px;
		opacity: 0;
	}
	50% {
		top: -10px;
		opacity: 1;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

.navbar{
	display: flex;
	align-items: center;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.nav-menu__item {
	display: block;
	height: 70px;
	cursor: pointer;
	padding: 0 10px;
	transition: all 0.4s;
}

.wrap-item {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 3px;

	&:hover {

		&::before {
			width: 100%;
		}
	}
    
	&::before {
        position: absolute;
		content: '';
		left: 0;
		bottom: 0px;
		width: 0%;
		height: 2px;
        transform-origin: left;
        transition: all .5s;
		background: var(--color-main);
	}
}

.nav-icon {
	font-size: 24px;
	line-height: 1.2;
    transition: all .3s;
}

.nav-title {
	font-family: 'Teko', sans-serif;
	letter-spacing: 0.01px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.5;
	text-transform: uppercase;
}

.nav-active {
	color: var(--color-main);

	.wrap-item {
		position: relative;
		&::before {
			position: absolute;
			content: '';
			left: 0;
			bottom: 0px;
			width: 100%;
			height: 2px;
			background: var(--color-main);
		}
	}
}

.toggle-sidebar{
	position: fixed;
	top: 15px;
	right: 20px;
	z-index: 10;
	display: block;
	color: var(--text-light);
	font-size: 24px;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	transition: all .3s;
	background: var(--bg-light);
	box-shadow: var(--shadow-light-10);

	@include dark{
		background: var(--bg-dark-linear);
		box-shadow: var(--shadow-dark);
		color: var(--color-dark);
	}

	@include mobile{
		width: 40px;
		height: 40px;
		font-size: 20px;
	}

	&:active{
		transform: scale(0.9);
	}
}

.wrap-setting{
	position: relative;
}

.toggle-setting{
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	box-shadow: var(--shadow-light-10);	

	svg{
		width: 25px;
		height: 25px;
		color: var(--color-main);
		animation: rotate 3s infinite linear;
	}

	@include dark{
		box-shadow: var(--shadow-dark);
	}

	@keyframes rotate {
		0%{
			transform: rotateZ(0deg);
		}
		100%{
			transform: rotateZ(360deg);
		}
	}
}

.wrap-popup{
	position: absolute;
	top: calc(100% + 25px);
	right: 0;
	background: var(--bg-light);
	padding: 20px;
	min-width: 250px;
	border-radius: 4px;
	box-shadow: var(--shadow-light);
	z-index: 20;
	transition: all 0.3s;
	visibility: hidden;
	animation: closePopup 0.3s forwards;

	@include dark{
		background: var(--bg-dark);
		box-shadow: var(--shadow-dark);
	}
}

.show-wrap__popup {
	visibility: visible;
	animation: showPopup 0.3s forwards;
}

.popup-title{
	font-family: var(--font-teko);
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

@keyframes showPopup {
	0% {
		transform: translateY(30px);
		opacity: 0;
	}
	70% {
		transform: translateY(-15px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes closePopup {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	50% {
		transform: translateY(-15px);
		opacity: 1;
	}
	100% {
		transform: translateY(30px);
		opacity: 0;
	}
}