@import '../../styles/helper';

.contact {
	min-height: 100vh;
	position: relative;
	padding: 50px 0;
}

.section {
	width: 100%;
	height: 100%;
}

.intro {
	text-align: center;
	padding: 50px 0 60px 0;
	font-family: var(--font-teko);
	text-transform: uppercase;
	@include tablet {
		padding: 70px 0 20px 0;
	}
	h4 {
		font-size: 70px;
		font-weight: 600;
		letter-spacing: 3px;
		line-height: 70px;
		text-shadow: var(--shadow-light);
		@include dark {
			text-shadow: var(--shadow-dark);
		}

		@include mobile {
			font-size: 46px;
			letter-spacing: 1px;
			line-height: 46px;
		}
	}

	p {
		font-size: 32px;
		color: var(--color-main);
		font-weight: 500;
		text-shadow: var(--shadow-light);
		display: inline-block;
		@include dark {
			text-shadow: var(--shadow-dark);
		}
		@include mobile {
			font-size: 22px;
		}
	}
}

.wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	padding-bottom: 50px;
	@include tablet {
		gap: 30px;
	}
}

.contact-intro {
	padding: 1rem;
	width: 35%;
	@include tablet {
		width: 100%;
	}

	@include mobile {
		padding: 0;
	}
}

.contact-form {
	width: 65%;
	padding: 1rem;

	@include tablet {
		width: 100%;
	}

	@include mobile {
		padding: 0;
	}
}

.card-intro {
	background: var(--bg-light);
	box-shadow: var(--shadow-light);
	width: 100%;
	border-radius: 15px;
	padding: 20px;
	overflow: hidden;
	@include dark {
		box-shadow: var(--shadow-dark);
		background: var(--bg-dark-linear);
	}

	@include tablet {
		padding: 30px;
	}

	@include mobile {
		padding: 20px;
	}
}

.card-img {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
	img {
		width: 100%;
		height: auto;
		transition: all 0.6s;
		border-radius: 10px;
	}
	&:hover {
		cursor: pointer;
		img {
			transform: scale(1.15);
		}
	}
}

.title-area {
	margin-bottom: 15px;
	h4 {
		font-size: 50px;
		line-height: 40px;
		font-weight: 500;
		text-transform: uppercase;
		font-family: var(--font-teko);
	}
	span {
		font-size: 16px;
		font-weight: 400;
		color: var(--text-light-2);
		@include dark {
			color: var(--text-dark-2);
		}
	}
}

.desc-area {
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: var(--text-light-2);
	margin-bottom: 15px;
	@include dark {
		color: var(--text-dark-2);
	}
	.desc {
		margin-bottom: 15px;
	}
	span {
		position: relative;
		font-size: 16px;
		cursor: pointer;
		color: var(--text-light);
		transition: all 0.3s;
		@include dark {
			color: var(--text-dark);
		}
		&::before {
			position: absolute;
			left: 0;
			bottom: 0;
			background: var(--color-main);
			content: '';
			width: 0%;
			height: 2px;
			transform-origin: left;
			transition: all 0.5s;
		}
		&:hover {
			color: var(--color-main);
			&::before {
				width: 100%;
			}
		}
	}
}

.social-area {
	.title {
		margin-top: 20px;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 26px;
		font-family: var(--font-mont);
		color: var(--text-light-2);
		@include dark {
			color: var(--text-dark-2);
		}
	}

	.social-icon {
		margin-top: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			width: 60px;
			height: 60px;
			margin: 15px;
			display: flex;
			align-items: center;
			border-radius: 5px;
			justify-content: center;
			color: var(--text-light);
			background: var(--bg-light);
			box-shadow: var(--shadow-light);
			border: 2px solid var(--bg-light);

			@include dark {
				background: var(--bg-dark);
				box-shadow: var(--shadow-dark);
				color: var(--text-dark);
				border-color: var(--bg-dark);
			}

			&:hover {
				box-shadow: var(--shadow-inset-light);
				svg {
					font-size: 23px;
					color: var(--color-main);
				}
				@include dark {
					box-shadow: var(--shadow-inset-dark);
				}
			}

			svg {
				font-size: 27px;
				transition: all 0.2s;
			}
		}
	}
}

.form {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
	background: var(--bg-light);
	box-shadow: var(--shadow-light);
	padding: 5rem 2rem;
	border-radius: 15px;
	@include dark {
		box-shadow: var(--shadow-dark);
		background: var(--bg-dark-linear);
	}
	@include mobile {
		padding: 30px 10px;
		border: unset;
		background: none;
		gap: 20px;
		@include dark {
			background: none;
		}
	}
}

.form__group {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	gap: 30px;
	@include mobile {
		flex-direction: column;
		gap: 20px;
	}
}

.form__textarea {
	position: relative;
	width: 100%;
	height: 225px !important;
	textarea {
		width: 100%;
		height: 100%;
		resize: none;
	}
}

.btn-submit {
	font-size: 20px;
	font-family: var(--font-mont);
	margin: 0px auto;
	text-transform: uppercase;
	letter-spacing: 1px;
	max-width: 280px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-weight: 600;
	height: 58px;
	border-radius: 10px;
	line-height: 28px;
	color: var(--color-main);
	background: var(--bg-light);
	box-shadow: var(--shadow-light);
	transition: all 0.2s;
	@include mobile {
		font-size: 16px;
		line-height: 24px;
	}
	@include dark {
		background: var(--bg-dark-linear);
		box-shadow: var(--shadow-dark);
	}

	&:active {
		font-size: 18px;
		box-shadow: var(--shadow-inset-light);
		@include dark {
			box-shadow: var(--shadow-inset-dark);
		}
	}
	&:hover {
		transform: translateY(-10px);
		@include dark {
			background: var(--bg-dark-linear-180deg);
		}
	}
}
