@import '../../styles/helper';
.toggle-theme {
	display: inline-block;
	position: fixed;
	top: 30px;
	left: 30px;
	z-index: 100;

	@include tablet {
		top: 25px;
	}

	@include mobile {
		top: 20px;
		left: 15px;
	}
}

.btn-change {
	position: relative;
	border: 2px solid var(--bg-light);
	background: var(--bg-light);
	border-radius: 100px;
	width: 45px;
	height: 23px;
	display: flex;
	align-items: center;
	box-shadow: var(--shadow-inset-light-sm);

	svg {
		position: absolute;
		left: 3px;
		z-index: 1;
		height: 90%;
		transition: all 0.3s ease-in-out;
		color: var(--color-main);
	}

	@include dark {
		border-color: var(--bg-dark);
		background: var(--bg-dark);
		box-shadow: var(--shadow-inset-dark-sm);
		svg {
			left: 23px;
			transition: all 0.2s;
			@include mobile {
				left: 28px;
			}
		}
	}

	@include mobile {
		width: 50px;
		height: 22px;
		svg {
		}
		left: 4px;
	}
}
