@import '../../styles/app.scss';

.back-to-top {
	position: fixed;
	bottom: -40px;
	right: 40px;
	display: block;
	width: 45px;
	height: 45px;
	line-height: 46px;
	background: var(--bg-light);
    box-shadow: var(--shadow-light);
	color: var(--color-main);
	text-align: center;
	visibility: hidden;
    opacity: 0;
    transform: scale(0.3);
	text-decoration: none;
	border-radius: 4px;
	z-index: 12;
    transition: all .3s;

	@include dark{
		box-shadow: var(--shadow-dark);
		background: var(--bg-dark-linear);
	}

	svg {
		font-size: 18px;
	}

	&:hover, &:active{
		transform: translateY(-10px);
	}

	@include mobile{
		bottom: -20px;
		right: 20px;
	}
}

.show {
	visibility: visible;
    bottom: 40px;
    right: 40px;
    opacity: 1;
    transform: scale(1);

	@include mobile{
		bottom: 20px;
		right: 20px;
	}
}
