@import '../../styles/helper';

.wrapper{
    padding: 120px 0;
    @include mobile{
        padding: 0;
    }
}
.section-body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;

    .box-item{
        padding: 15px;
    }
}
.about__img{
    width: 40%;
    img{
        border-radius: 23% 77% 29% 71% / 62% 33% 67% 38%;
        box-shadow: var(--shadow-light);
        border: 5px solid var(--bg-light);
        animation: borderImg 5s ease-in-out infinite ;
    
        @include dark{
            box-shadow: var(--shadow-dark);
            border-color: var(--bg-dark);
        }
    }

    @include mobile{
        width: 100%;
        margin-bottom: 30px;

        img{
            border-radius: 0;
            animation: none;
        }
    }
}

@keyframes borderImg {
    0%{
        border-radius: 23% 77% 29% 71% / 62% 33% 67% 38%;
    }
    50%{
        border-radius:  63% 37% 70% 30% / 49% 47% 53% 51%
    }
    100%{
        border-radius: 23% 77% 29% 71% / 62% 33% 67% 38%;
    }
}


.about__content {
    width: 60%;

    @include mobile{
        width: 100%;

        p{
            font-size: 14px;
        }
    }
}


.about-desc{
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(112, 112, 112, 0.3);

}

.desc-item{
    position: relative;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    span{
        font-weight: 800;
        font-size: 17px;
    }

    strong{
        position: absolute;
        top: -30px;
        left: 0;
        font-size: 100px;
        z-index: -1;
        opacity: 0.09;
    }
}

.person-infor{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;

    @include mobile{
        margin: 0;
    }
}

.infor-item{
    width: 50%;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 15px;
    letter-spacing: 1px;

    .icon{
        width: 50px;
        height: 50px;
        background: linear-gradient(29deg, var(--color-main) 10%, rgba(221,207,255,1) 100%);
        box-shadow: var(--shadow-light);
        border-radius: 62% 38% 31% 69% / 33% 38% 62% 67% ;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            font-size: 20px;
            color: #fff;
        }

        @include dark{
            box-shadow: var(--shadow-dark);
        }
    }

    span{
        font-weight: 700;
    }


    @include mobile{
        width: 100%;
        padding: 15px 0;
    }
}
