.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
    @include desktop{
        padding: 0 30px;
    }
    @include tablet{
        padding: 0 25px;
    }
    @include mobile{
        padding: 0 16px;
    }
}

.container-fluid{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}