body{
    background: var(--bg-light);
    color: var(--text-light);
    transition: background .2s, color .2s;
}

body.dark-mode{
    background: var(--bg-dark);
    color: var(--text-dark);
    transition: background .2s, color .2s;
}

body[aria-current="theme-color-red"]{
    --color-main: #ff014f;
}

body[aria-current="theme-color-organe"]{
    --color-main: var(--color-organe)
}

body[aria-current="theme-color-green"]{
    --color-main: var(--color-green)
}

body[aria-current="theme-color-blue"]{
    --color-main: var(--color-blue)
}

body[aria-current="theme-color-pink"]{
    --color-main: var(--color-pink);
}

.section-screen{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-screen#home{
    padding: 0;
}