body{
    background: var(--bg-light);
    color: var(--text-light);
    transition: background .2s, color .2s;
}

body.dark-mode{
    background: var(--bg-dark);
    color: var(--text-dark);
    transition: background .2s, color .2s;
}

.theme-color-red{
    --color-main: #ff014f;
}


.theme-color-organe{
    --color-main: var(--color-organe)
}


.theme-color-green{
    --color-main: var(--color-green)
}


.theme-color-blue{
    --color-main: var(--color-blue)
}


.theme-color-pink{
    --color-main: var(--color-pink)
}