@import '../../styles/app';

.wrapper{
    padding: 90px 0;
}

.section-skills {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.wrap-item {
	width: 50%;
	padding: 0 10px;
	margin-bottom: 25px;

    @include tablet{
        width: 100%;
        padding: 0;
    }
}

.progress-wrap {
	background: var(--bg-light);
	box-shadow: var(--shadow-light);
    padding: 15px 20px 25px;
    border-radius: 8px;

	@include dark {
		box-shadow: var(--shadow-dark);
		background: var(--bg-dark-linear);
	}
}

.progress-wrap h3 {
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 24px;
	font-size: 18px;
	margin-bottom: 10px;
}

.progress-wrap .progress {
	height: 10px;
	border-radius: 10px;
    box-shadow: var(--shadow-inset-light);
    background: var(--bg-light);

    @include dark{
        box-shadow: var(--shadow-inset-dark);
        background: var(--bg-dark);
    }
}

.progress-wrap .progress-bar {
	position: relative;
	background: var(--color-main);
	font-size: 14px;
	transition: all 0.3s ease;
	height: 100%;
	overflow: visible;
	border-radius: 10px;
	font-weight: 500;
}

.progress-wrap .progress-bar::after {
	position: absolute;
	top: -5px;
	right: 0;
	width: 20px;
	height: 20px;
	content: '';
	background: var(--color-main);
	border-radius: 50%;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.progress-wrap .progress-bar span {
	position: absolute;
	color: var(--color-main);
	top: -30px;
	right: -5px;
}
