@import '../styles/helper';

.default-layout{
    overflow: hidden;
}

.footer{
    text-align: center;
    padding: 40px 0;
    border-top: 2px solid #d8dbde;
    color:  var(--text-light-2);

    @include dark{
        border-color: var(--bg-dark-2);
        color:  var(--text-dark-2);
    } 

    p{
        font-size: 18px;
        font-family: var(--font-mont);
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 1px;
        display: inline-block;
        @include mobile{
            font-size: 12px;
            line-height: 18px;
        }
    }
    a{
        padding: 5px 0;
        position: relative;
        color: var(--text-light-2);
        @include dark{
            color: var(--text-dark-2);
        }
        &::before{
            transition: width .3s;
            transform-origin: left;
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            background: var(--color-main);
            width: 0%;
            height: 2px;
        }
        &:hover{
            color: var(--color-main);
            &::before{
                width: 100%;
            }
        }
    }
}
